%button
  +user-select(none)
  +adjust-font-size-to(14px, 1)
  +transition(color 0.2s ease-out-quint(), background-color 0.2s ease-out-quint(), border-color 0.2s ease-out-quint())
  +uppercase(1px)
  display: inline-block
  margin: rhythm(0.25) 0
  border-radius: 2px
  font-weight: $base-font-weight
  text-align: center
  width: 100%

.button
  @extend %button
  padding: rhythm(0.25, $offset: 2px) rhythm(0.5, $offset: 2px)
  border: 2px solid $green6
  color: $green6

  &:hover, &:focus
    background: $green7
    border-color: $green7
    color: $white

  &:active
    background: $green8
    border-color: $green8
    color: $white

button
  @extend .button

.button-primary
  @extend %button
  padding: rhythm(0.25) rhythm(0.5)
  background: $green6
  color: $white

  &:hover, &:focus
    background: $green7
    color: $white

  &:active
    background: $green8

.button-list
  @extend .inline-block-list

.svg-icon
  +transition(fill 0.2s ease-out-quint())
  display: inline-block
  vertical-align: -3px
  width: $base-font-size
  height: $base-font-size
  margin-right: rhythm(0.25)
  fill: $green6

  .button:hover &
    fill: $white

  .button:active &
    fill: $white

  .button-primary &
    fill: $white

@media #{$small-only}

  .button-list

    > li
      width: 100%
      margin: 0

@media #{$medium-up}

  %button-medium
    width: auto

  .button
    @extend %button-medium

  .button-primary
    @extend %button-medium

  .button-list
    margin: 0
