$feature-title-font-size: 24px
$feature-title-font-size-medium: 26px
$feature-title-font-size-large: 34px

$caret-size: rhythm(0.5)

.feature
  position: relative
  border-top: 1px solid $grey1
  background: $white
  background-size: cover

.feature-supertitle
  +adjust-font-size-to(18px)
  display: block
  color: $green6
  font-weight: 500

.feature-title
  +adjust-font-size-to($feature-title-font-size)
  +uppercase(1px)

.feature-number
  color: $green6

  &:after
    content: " | "
    color: $header-font-color

.feature-wrap
  padding: $column-gutter $column-gutter*0.5

.feature-body
  margin: 0

.feature-icon
  margin: rhythm(1) auto
  width: 100%
  max-width: rhythm(10)

@media #{$small-only}

  .feature-image
    margin-top: rhythm(1)

  .feature
    background: none !important

@media #{$medium-up}

  .feature
    display: table
    width: 100%
    height: 100%

  .feature-wrap
    padding: 10% 0
    display: table-cell
    vertical-align: middle

  .feature-title
    +adjust-font-size-to($feature-title-font-size-medium)
    margin-top: 0

  .feature-content
    float: left
    width: 50%
    max-width: rhythm(18)

    .image-feature &
      background: $white
      padding: rhythm(2)
      max-width: rhythm(20)
      border-bottom: 5px solid $green6
      box-shadow: 0 0 10px rgba($black, 0.5)

  .feature-col
    float: left
    width: 50%
    max-width: rhythm(22)
    padding: 0 rhythm(1)

    &.first
      padding-left: 0 !important

    &.last
      padding-right: 0 !important

  .intro-quote
    +adjust-font-size-to(24px, 1.5)
    width: 50%
    border-left: 2px solid $grey2
    padding-left: rhythm(1, $offset: 2px)
    padding-right: rhythm(1)

  .feature-plate
    box-shadow: 0 0 10px rgba($black, 0.5)
    background: $white
    padding: rhythm(2) rhythm(2) rhythm(2, $offset: 4px)
    margin: rhythm(-2)
    border-bottom: 4px solid $green6

@media #{$large-up}

  .feature-col
    padding: 0 rhythm(2)

  .feature-image
    padding: rhythm(0.5)
    margin: rhythm(0.5) 0

  .feature-supertitle
    margin: rhythm(0.25) 0

  .feature-title
    +adjust-font-size-to($feature-title-font-size-large, 1.5)

  .feature-content

    .image-feature &
      max-width: rhythm(22)

  .feature-content-right
    float: right

  .feature-content-center
    margin: 0 auto
    text-align: center
