$hero-height-small: rhythm(12)
$hero-height-medium: rhythm(14)
$hero-height-large: rhythm(16)

.hero
  @extend .cover
  height: $hero-height-small
  background-size: cover

.hero-title
  @extend .cover-title

.hero-wrap
  @extend .cover-wrap
  height: auto

.hero-content
  @extend .cover-content

.hero-background
  @extend .cover-background

.hero-supertitle
  @extend .cover-supertitle

.hero-subtitle
  @extend .cover-subtitle

@media #{$medium-up}

  .hero
    height: $hero-height-medium

@media #{$large-up}

  .hero
    height: $hero-height-large
