%icon-bar
  width: rhythm(0.8)
  height: 3px
  background-color: $black

  .has-image &
    background-color: $white

%icon-bar-pseudo
  content: ""
  position: absolute

.icon-menu
  @extend %icon-bar
  display: inline-block
  vertical-align: middle
  position: relative
  margin: rhythm(0.44) 0
  margin-left: rhythm(0.25)
  float: right

  &::before
    @extend %icon-bar
    @extend %icon-bar-pseudo
    +transform(translateY(-6px))

  &::after
    @extend %icon-bar
    @extend %icon-bar-pseudo
    +transform(translateY(6px))
