.featurette
  padding: rhythm(5) 0

.image-featurette
  height: rhythm(26)
  background: $gray no-repeat
  background-size: cover

.featurette-title
  +adjust-font-size-to(48px)
  text-transform: none
  font-weight: 500
  letter-spacing: 0

.featurette-content
  +adjust-font-size-to(20px, 1.5)
