$navigation-font-size: 18px

.nav-header
  position: absolute
  left: rhythm(1.5)
  right: rhythm(1.5)
  top: rhythm(1.5)
  z-index: $zindex-navigation

  .menu
    +inline-block-list(rhythm(1))
    float: right

    a
      +adjust-font-size-to($navigation-font-size)

.nav-sticky
  display: none
  position: absolute
  left: 0
  right: 0
  z-index: $zindex-navigation-sticky
  padding: rhythm(1) rhythm(1.5)
  background: $primary-color

  &.nav-sticky-visible
    display: block

  &.nav-sticky-opening
    +animation(fadeInDown $transition-duration both)

  &.nav-sticky-closing
    +animation(fadeOutUp $transition-duration both)

  .menu
    +inline-block-list(rhythm(1))
    float: right

    a
      +adjust-font-size-to($navigation-font-size)

.nav-sidebar
  -webkit-transition: -webkit-transform $transition-duration
  -moz-transition: -moz-transform $transition-duration
  -ms-transition: -ms-transform $transition-duration
  -o-transition: -o-transform $transition-duration
  transition: transform $transition-duration
  +transform-origin(0%, 50%)
  +transform(translate3d(100%, 0, 0) rotateY(50deg))
  +transform-style(preserve-3d)
  visibility: hidden
  position: absolute
  right: 0
  top: 0
  z-index: $zindex-sidebar
  width: $sidebar-width
  height: 100%
  background: $white

  .sidebar-open &, .sidebar-opening &, .sidebar-closing &
    visibility: visible

  .sidebar-open &
    +transform(translate3d(100%, 0, 0) rotateY(0deg))

  .menu
    list-style: none
    margin: rhythm(2) 0
    padding: 0

    li
      +adjust-font-size-to(30px)

    a
      display: block
      padding: 0 rhythm(1.5)

.sidebar-toggle
  +adjust-font-size-to($navigation-font-size)
  float: right

.logo
  +adjust-font-size-to($base-font-size, 1)
  float: left
  margin: 0

  a
    display: block
    text-indent: -9999px
