$navigation-font-size: 18px
$sticky-transition-duration: 500ms
$nav-sticky-link-color: rgba($white, 0.8)
$nav-sticky-link-color-hover: $white

.nav-header
  position: absolute
  left: rhythm(1)
  right: rhythm(1)
  top: rhythm(1)
  z-index: $zindex-navigation

  .menu
    +inline-block-list(rhythm(1))
    float: right

    li
      display: block

    a
      +adjust-font-size-to($navigation-font-size)
      text-transform: uppercase
      font-weight: 600

.nav-sticky
  display: none
  position: absolute
  left: 0
  right: 0
  z-index: $zindex-navigation-sticky
  padding: rhythm(1.5) rhythm(1.5)
  background: $primary-color

  &.nav-sticky-visible
    display: block

  &.nav-sticky-opening
    +animation(fadeInDown $sticky-transition-duration ease-out-quint() both)

  &.nav-sticky-closing
    +animation(fadeOutUp $sticky-transition-duration ease-out-quint() both)

  .menu
    +inline-block-list(rhythm(1))
    float: right

  a
    +adjust-font-size-to($navigation-font-size)
    text-transform: uppercase
    color: $nav-sticky-link-color
    font-weight: 600

    &:hover
      color: $nav-sticky-link-color-hover

.nav-sidebar
  -webkit-transition: -webkit-transform ease-out-quint() $transition-duration
  -moz-transition: -moz-transform ease-out-quint() $transition-duration
  -ms-transition: -ms-transform ease-out-quint() $transition-duration
  -o-transition: -o-transform ease-out-quint() $transition-duration
  transition: transform ease-out-quint() $transition-duration
  +transform-origin(0%, 50%)
  +transform(translate3d(100%, 0, 0) rotateY(50deg))
  +transform-style(preserve-3d)
  visibility: hidden
  position: absolute
  right: 0
  top: 0
  z-index: $zindex-sidebar
  width: $sidebar-width
  height: 100%
  background: $white

  .sidebar-open &, .sidebar-opening &, .sidebar-closing &
    visibility: visible

  .sidebar-open &
    +transform(translate3d(100%, 0, 0) rotateY(0deg))

  .menu
    list-style: none
    height: 100%
    margin: 0
    padding: rhythm(3) 0

    li
      +adjust-font-size-to(30px)

    a
      display: block
      padding: 0 rhythm(1.5)

    .current-menu-item a
      color: $primary-color

.sidebar-toggle
  +adjust-font-size-to($navigation-font-size)
  float: right
  text-transform: uppercase
  font-weight: 600

  .has-image &
    color: $white

.menu

  li
    margin: 0

.logo
  +adjust-font-size-to($base-font-size, 1)
  float: left
  margin: 0
  background: url("images/logo.svg") no-repeat
  background-size: auto 100%

  a
    display: block
    text-indent: -9999px
    width: rhythm(4)
    height: rhythm(1.5)

.copyright
  +adjust-font-size-to(14px)
  position: absolute
  bottom: rhythm(1)
  padding: 0 rhythm(1.5)
  color: $text-color-alt

@media #{$medium-up}

  .nav-header
    left: rhythm(1.5)
    right: rhythm(1.5)
    top: rhythm(1.5)

  .logo

    a
      width: rhythm(6)
      height: rhythm(2)
