body
  background: $body-background

.wrapper
  overflow: hidden
  position: relative
  z-index: 1
  height: 100%

.content-wrapper
  height: 100%
  background: $body-background

.content
  position: relative
  z-index: $zindex-content
  overflow-y: auto
  overflow-x: hidden
  height: 100%

  .sidebar-open &
    will-change: transform
    -webkit-transition: -webkit-transform ease-out-expo() $transition-duration
    -moz-transition: -moz-transform ease-out-expo() $transition-duration
    -ms-transition: -ms-transform ease-out-expo() $transition-duration
    -o-transition: -o-transform ease-out-expo() $transition-duration
    transition: transform ease-out-expo() $transition-duration
    +transform(translateX(0px))
    overflow: hidden

  .sidebar-open-active &
    +transform(translateX($sidebar-width*-1))
    overflow: hidden

  .sidebar-close &
    will-change: transform
    -webkit-transition: -webkit-transform ease-out-expo() $transition-duration
    -moz-transition: -moz-transform ease-out-expo() $transition-duration
    -ms-transition: -ms-transform ease-out-expo() $transition-duration
    -o-transition: -o-transform ease-out-expo() $transition-duration
    transition: transform ease-out-expo() $transition-duration
    +transform(translateX($sidebar-width*-1))
    overflow: hidden

  .sidebar-close-active &
    +transform(translateX(0px))
    overflow: hidden

main
  height: 100%

.overlay-mask
  +transition(opacity ease-out-expo() $transition-duration)
  position: absolute
  left: 0
  top: 0
  z-index: $zindex-overlay-mask
  width: 100%
  height: 100%
  background: rgba(black, 0.6)
  opacity: 0

  .sidebar-open &
    display: block
    will-change: opacity
    opacity: 0.01

  .sidebar-open-active &
    display: block
    opacity: 1

  .sidebar-close &
    display: block
    will-change: opacity
    opacity: 1

  .sidebar-close-active &
    display: block
    opacity: 0.01
